.searchBox {
    width: 80%;
}
.heading{
    font-size: 26px;
    padding-top: 100px;
    margin-left: 20px;
    color: white;
}
.sub-heading{
    font-size: 20px;
    padding-top: 15px;
    margin-left: 20px;
    color: white;
}
.customer-search{
    margin-left: 20px;
    border: 2px solid  #808080 ;
    border-radius: 5px;
    margin-top: 7px;
    height: 30px;
    background-color:#2B3140 ;   
    color: white;
}
.close-button{
margin-right: 10px;
margin-left: 40px;
margin-top: 593px;
background-color:#403c4c;
color: white;
width: 90px;
}
.create-button{
    background-color:#7783A0;
color: white;
}
.drawer{
    background-color: #2B3140;
    width: 600px;
    
}
.drawerDiv{
    padding-bottom: 0%;
    overflow-y: hidden;
}
.modal-content {
    background-color: white;
    color: black;
}
.modal-box {
    background-color: white;
    color: black;
    padding-left: 20rem;
}
.sum{
    margin-bottom: 10px;
    margin-left: 55px;
}