.searchBox {
    width: 80%;
}
.heading{
    font-size: 25px;
    padding-top: 100px;
    margin-left: 20px;
}
.sub-heading{
    padding-top: 20px;
    margin-left: 20px;
}
.customer-search{
    margin-left: 20px;
    border: 2px solid #2B3140;
    border-radius: 5px;
    margin-top: 5px;
}
.close-button{
margin-right: 10px;
margin-left: 40px;
margin-top: 550px;
}
/* .drawer{
    background-color: #2B3140;
} */